.newsItemFilter {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1e90ff;
}

.filters {
  border-bottom: 2px solid #f4f7fc;
  padding-bottom: 50px;
}
.extraFilters {
  display: flex;
  justify-content: space-evenly;
}
.authorNameFilter {
  width: 30%;
  height: 40px;
}
.dateFilter {
  width: 30%;
}
body[data-theme='dark'] .ant-layout-sider-trigger {
  background: #1f1f1f;
  color: #ffffff;
}

body[data-theme='light'] .ant-layout-sider-trigger {
  background: #ffffff;
  color: #1f1f1f;
}